<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="liwei.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="liwei.com.MainActivity">

        </activity>
        <activity android:name="liwei.com.other.UtilsMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:theme="@style/ActivityTurnStyle">

        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="liwei.com.ThirdActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".App.DefaultErrorActivity"
            android:process=":error_activity" />
        <activity android:name=".eventbus.OtherActivity" />
        <activity android:name=".other.gauss.GaussActivity" />
        <activity android:name=".network.retrofit.utils2.SecondPackingActivity" />
        <activity android:name=".other.CustomProgressBar.ProgressBarActivity" />
        <activity android:name=".other.ExpandableTextview.ExpandableTextviewMainActivity" />
        <activity
            android:name=".other.IJKPlayer.IJKPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="liwei.com.other.design.DesignActivity"/>
        <activity android:name="liwei.com.other.kotlin.KotlinActivity"/>
        <activity android:name="liwei.com.other.RoundLayout.RoundLayoutActivity"/>
        <activity android:name="liwei.com.other.PasswordView.PasswordActivity"/>
        <activity android:name=".other.Float.FloatActivity"/>
        <activity android:name=".other.TakePictuer.CameraActivity"/>
        <activity android:name="liwei.com.other.GreenDao.GreenDaoActivity"/>
        <activity android:name="liwei.com.other.webview.WebviewActivity" android:screenOrientation="landscape"/>
        <activity android:name="liwei.com.other.webview.LoginActivity" android:screenOrientation="landscape"
            android:theme="@style/MyDialog"/>
        <activity android:name="liwei.com.other.shimmer.ShimmerActivity"/>
        <activity android:name="liwei.com.other.encrypt.EncryptActivity"/>
        <activity android:name=".other.circlemenu.CircleMenuActivity"/>
        <activity android:name="liwei.com.other.mybase.MyTestActivity"/>
        <activity android:name="liwei.com.other.picker.CalendarDateTimeActivity"/>
        <activity android:name="liwei.com.other.picker.lineartimepicker.materialiconlib.ui.MaterialIconLibActivity"/>
        <activity android:name="liwei.com.other.picker.LinearTimePickerActivity"/>
        <activity android:name=".other.picker.PickViewActivity"/>
        <activity android:name=".other.picker.MaterialDateTimePickerActivity"/>
        <activity android:name="liwei.com.other.slidingmenu.SlidingMenuActivity"/>
        <activity android:name=".other.pay.MyPayActivity"/>
        <activity android:name=".designmodel.singleton.SingletonModelActivity"/>
        <activity android:name=".designmodel.builder.BuilderModelActivity"/>
        <activity android:name=".designmodel.prototype.ProtoTypeModelActivity"/>
        <activity android:name=".designmodel.proxy.ProxyActivity"/>
        <activity android:name=".designmodel.factory.FactoryModelActivity"/>
        <activity android:name=".designmodel.strategy.StrategyModelActivity"/>
        <activity android:name=".designmodel.facade.FacadeModelActivity"/>
        <activity android:name=".designmodel.observer.ObserverModelActivity"/>
        <activity android:name=".designmodel.adapter.AdapterModelActivity"/>
        <activity android:name=".other.cache.CacheTest"/>
        <activity android:name=".network.NetworkMainActivity">

        </activity>
        <activity android:name=".network.volley.VolleyActivity"/>
        <activity android:name=".network.okhttp.OkhttpActivity"/>
        <activity android:name=".network.retrofit.RetrofitActivity"/>
        <activity android:name=".network.httpurlconnect.HttpUrlConnectionActivity"/>
        <activity android:name=".other.webviewtest.WebviewTestActivity"/>
        <activity android:name=".designmodel.DesignModelMainActivity">

        </activity>
        <activity android:name=".other.plugin.PluginMainActivity">

        </activity>
        <activity android:name=".rxjava.RxJavaActivity">

        </activity>
        <activity android:name=".algorithm.AlgorithmActivity">

        </activity>
        <activity android:name="liwei.com.other.titlebaralphagradient.TitleBarAlphaGradientActivity">

        </activity>
        <activity android:name=".other.titlebaralphagradient.scrollview.UseScrollviewActivity"/>
        <activity android:name=".other.titlebaralphagradient.listview.UseListviewActivity"/>
        <activity android:name="liwei.com.other.custominstallfinished.InstallJumpActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="liwei.com.StartAction"/>
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.AppInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="liwei.com"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
    </application>

</manifest>